
@{
    ViewBag.Title = "Home Page";
}

<style>
    h4 {
        text-align: right;
        font-style: italic;
    }

</style>

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Sản phẩm mới nhất</h2>
                <div class="product-carousel">
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="~/Asset/img/ip12.jpg" alt="">
                        </div>
                        <h2>Điện thoại Iphone 12 Pro 64GB</h2>
                        <div class="product-carousel-price">
                            <ins>16.990.000</ins> <del>17.990.000</del>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="~/Asset/img/reno8.jpeg" alt="">
                        </div>
                        <h2>Điện thoại OPPO Reno8 Pro 5G </h2>
                        <div class="product-carousel-price">
                            <ins>18.490.000</ins> <del>18.990.000</del>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="~/Asset/img/Iphone.png" alt="">
                        </div>
                        <h2>Điện thoại iPhone 14 Pro Max 1TB</h2>
                        <div class="product-carousel-price">
                            <ins>49.490.000</ins> <del>51.990.000</del>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="~/Asset/img/oppox5.jpg" alt="">
                        </div>
                        <h2>Điện thoại OPPO Find X5 Pro 5G</h2>
                        <div class="product-carousel-price">
                            <ins>26.990.000</ins> <del>27.490.000</del>
                        </div>
                    </div>
                    <div class="single-product">
                        <div class="product-f-image">
                            <img src="~/Asset/img/Samsung.jpg" alt="">
                        </div>
                        <h2>Điện thoại Samsung Galaxy Z Flip4 128GB</h2>
                        <div class="product-carousel-price">
                            <ins>20.990.000</ins> <del>22.990.000</del>
                        </div>
                    </div>

                </div>
                <br /> <br />
                <h4> @Html.ActionLink("Xem tất cả", "index", "Shop") </h4>
            </div>
        </div>
    </div>
</div>


<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-product">
                    <img src="~/Asset/img/brand1.png">
                    <img src="~/Asset/img/brand2.png">
                    <img src="~/Asset/img/brand3.png">
                    <img src="~/Asset/img/brand4.png">
                    <img src="~/Asset/img/brand5.png">
                    <img src="~/Asset/img/brand6.png">
                    <img src="~/Asset/img/brand1.png">
                    <img src="~/Asset/img/brand2.png">
                </div>
            </div>
        </div>
    </div>
</div>

